@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
:root {
    --color-primary: #00B5DC;
}

html, body {
    height: 100%;
    font-family: "Ubuntu", sans-serif;
}

#root {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content {
    flex: 1 0 auto;
}

p{
    font-size: 16px;
}
.footer {
    flex-shrink: 0;
    text-align: center;
}
.footer .container .text-light a{
    text-decoration: none;
    color: var(--color-primary);
}
.bg-primary {
    background-color: var(--color-primary) !important;
}

.text-primary {
    color: var(--color-primary) !important;
}

.jumbotron p span{
    color: #0B5ED7;
}





.mark1{
    text-decoration: none;
}
.mark{
    position: relative;
    display: inline-flex;
    font-size: 19px;
    transition: .5s ease;
    justify-content: center;
    align-items: center;
    background: #F8F9FA;
}
.mark span{
    color: var(--color-primary);   
}

.logo{
    width: 50px;
    height: 50px;
    margin: 10px;
    position: relative;
    perspective: 50000px;
    color: #00B5DC;
}

.logo div {
    position: absolute;
    width: 100%;
    height: 100%;
    border-left: 3px solid;
    border-top: 3px solid transparent;
    border-radius: 100%;
    
}
.logo div:nth-child(1) {
    animation: anim-1 3s linear infinite;
}
@keyframes anim-1 {
    from {
        transform: rotateZ(120deg) rotateX(66deg) rotateZ(0deg);
   }
    to {
        transform: rotateZ(120deg) rotateX(66deg) rotateZ(360deg);
   }
}

.logo div:nth-child(2) {
    animation: anim-2 3s linear infinite;
}
@keyframes anim-2 {
    from {
        transform: rotateZ(240deg) rotateX(66deg) rotateZ(0deg);
   }
    to {
        transform: rotateZ(240deg) rotateX(66deg) rotateZ(360deg);
   }
}

.logo div:nth-child(3) {
    animation: anim-3 3s linear infinite;
}
@keyframes anim-3 {
    from {
        transform: rotateZ(360deg) rotateX(66deg) rotateZ(0deg);
   }
    to {
        transform: rotateZ(360deg) rotateX(66deg) rotateZ(360deg);
   }
}

@media screen and (max-width:600px){
    p{
        font-size: 12px;
    }
}
